.contactItem {
  display: flex;
  margin-bottom: 0;
  align-items: center;
}

.dropdown {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.dropdownToggle {
  background-color: rgb(209, 205, 205);
}

.dropdownDelete:hover {
  background-color: rgb(208, 158, 158);
}

.dropdownChange:hover {
  background-color: rgb(225, 232, 166);
}
