.contactName,
.contactNumber {
  margin-top: 0;
  margin-bottom: 0;
  line-height: center;
}
.contactName {
  margin-right: 10px;
}
.contactBtn {
  height: 30px;
  margin-left: auto;
  cursor: pointer;
}
