.contactItem {
  display: flex;
  margin-bottom: 0;
  flex-direction: column;
}

.contactItem span {
  display: inline-flex;
  align-items: flex-end;
}

.contactItem p {
  margin-bottom: 0;
}

.contactSubItem {
  font-size: 11px;
  font-style: italic;
  margin-right: 5px;
  height: 18px;
}

.contactName {
  font-weight: 600;
}

.contactTel {
  color: rgb(70, 68, 68);
}

.dropdown {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.dropdownToggle {
  background-color: rgb(209, 205, 205);
}

.dropdownDelete:hover {
  background-color: rgb(214, 100, 100);
}

.dropdownChange:hover {
  background-color: rgb(225, 242, 78);
}
