.form {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
}

.input {
  margin-bottom: 20px;
  max-width: 200px;
}

.btn {
  max-width: 150px;
  cursor: pointer;
}
